.buttonColour {
    background-color: rgb(103, 164, 255);
}

.buttonColour:hover {
    background-color: rgb(85, 136, 211);
}

.toolTip {
    position: relative;
}

.toolTip .toolTipText {
    visibility: hidden;
    text-align: center;
    font-size: calc(5px + 1vmin);
    position: absolute;
    left: 125%;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

.fixedSizeSmall {
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
}

.fixedSizeLarge {
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
}