@import "../Variables.scss";

.buttonColour {
    background-color: $buttonColour;
}

.buttonColour:hover {
    background-color: $buttonColourHover;
}

.fixedSizeSmall {
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
}

.fixedSizeLarge {
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
}

.toolTip {
    position: relative;
}

.toolTip .toolTipText {
    visibility: hidden;
    text-align: center;
    font-size: calc(5px + 1vmin);
    position: absolute;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

.toolTip .toolTipLeft {
    right: calc(100% + 0.5rem);
}

.toolTipText .toolTipLeft {
    right: calc(100% + 0.5rem);
}

.toolTip .toolTipRight {
    left: calc(100% + 0.5rem);
}

.toolTipText .toolTipRight {
    left: calc(100% + 0.5rem);
}